<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ language.title }}</title>
        <meta name="description" content="{{ language.description }}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/{{ bower.bootstrap }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/jumbotron-narrow.css" rel="stylesheet">
        {% for name, url in feeds %}
        <link rel="alternate"
              type="application/rss+xml"
              title="{{ language.feeds[name].title }}"
              href="{{ url|replace('%language%', language.language) }}" />
        {% endfor %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2><a href="http://www.maxdome.de/">{{ language.title }}</a></h2>
            </div>
            <div class="marketing">
                {% for name, url in feeds %}
                    <h4>
                        <a href="{{ url|replace('%language%', language.language) }}">
                            {{ language.feeds[name].title }}
                        </a>
                    </h4>
                    <p>{{ language.feeds[name].description }}</p>
                {% endfor %}
            </div>
            <footer class="footer">
                <p>
                    <a href="http://github.com/dragonprojects/maxdome-rssfeeds">{{ app.name }}</a> v{{ app.version }},
                    &copy; <a href="http://dragonprojects.de">DragonProjects</a> 2015
                </p>
            </footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/{{ bower.jquery }}/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/{{ bower.bootstrap }}/js/bootstrap.min.js"></script>
    </body>
</html>
