{% extends 'layout.twig' %}

{% block description %}{{ language.description }}{% endblock %}

{% block feeds %}
    {% for name, urls in feeds %}
        {% if urls.rss %}
            <link rel="alternate"
                  type="application/rss+xml"
                  title="{{ language.feeds[name].title }}"
                  href="{{ urls.rss|replace('%language%', language.language) }}" />
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    {% for name, urls in feeds %}
        {% if urls.html %}
            <h4>
                <a href="{{ urls.html|replace('%language%', language.language) }}">
                    {{ language.feeds[name].title }}
                </a>
            </h4>
            <p>{{ language.feeds[name].description }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}
