{% extends '../layout.html.twig' %}

{% block title %}{{ language.feeds[channel.name].title }} - {% endblock %}

{% block description %}{{ language.feeds[channel.name].description }}{% endblock %}

{% block feeds %}
    <link rel="alternate"
          type="application/rss+xml"
          title="{{ language.feeds[channel.name].title }}"
          href="feed/{{ language.language }}" />
{% endblock %}

{% block content %}
    <h3>{{ language.feeds[channel.name].title }}</h3>
    <br>
    {% for item in items %}
        <div class="row">
            <div class="col-md-3">
                {% if item.image %}
                    <img src="{{ item.image.src }}"
                         alt="{{ item.title }}"
                         {% if item.image.width %}width="{{ item.image.width }}"{% endif %}
                         {% if item.image.height %}height="{{ item.image.height }}"{% endif %} />
                {% endif %}
            </div>
            <div class="col-md-9">
                <h4>
                    <a href="{{ item.link }}">
                        {{ item.title }}
                    </a>
                </h4>
                <p>{{ item.description }}</p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
